.about {
  &__box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
  }

  &__tabel {
    width: 100%;
    border-collapse: collapse;

    &__head {
      background-color: #36304a;
    }

    &__heading {
      padding: 15px;
      font-weight: 500;
      color: #fff;
    }

    &__info {
      background-color: rgba(62, 146, 220, 0.173);
    }

    &__data {
      text-align: center;
      padding: 15px;
      color: black;
    }
  }
}
